<h1>New Author</h1>

<%= render 'form' %>

<%= link_to 'Back', authors_path %>

<!-- <script type="text/javascript">
$(document).ready(function() {
  $("#author_book_ids").select2();
});
</script> -->